# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtualenv
venv/
.env

# Django
*.sqlite3
db.sqlite3
*.pot
*.pyc

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Supabase
.supabase/

# Node (if you have frontend or use npm for any part)
node_modules/
